# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
**/doc/api/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id

# Firebase (contains secrets)
firebase_options.dart
google-services.json
GoogleService-Info.plist
.firebase/